<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link href="css/index.css" rel="stylesheet" />-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />


    <title>Кодовый замок</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Кодовый замок {% match state %}
        {% when LockState::Disabled %}<span class="text-danger">заблокирован</span>
        {% when LockState::Unlocked %}<span class="text-success">открыт</span>
        {% when LockState::Locked %}<span>({{ config.limit - tries.len() }}/{{ config.limit }})</span>
        {% endmatch %}</h1>
      <form action="" method="get" class="form-floating needs-validation" novalidate>
        <div class="input-group mb-3 form-floating has-validation">
          <input id="password" name="password" type="text" inputmode="numeric" class="form-control" pattern="[0-9]{6}" placeholder="Код" required
            {% match state %}
            {% when LockState::Locked %}
            {% else %}disabled
            {% endmatch %}
          />
          <label for="password">Код</label>
          <button class="btn btn-primary"
            {% match state %}
            {% when LockState::Locked %}
            {% else %}disabled
            {% endmatch %}>Разблокировать</button>
          <div class="invalid-feedback">Код состоит из 6 цифр</div>
        </div>
      </form>

      <h2>Попытки</h2>
      {% for c in tries.chunks(3) %}
      <ul class="list-group list-group-horizontal">
        {% for i in c %}
        <li class="text-center list-group-item flex-fill list-group-item-{% if i.deref() == config.password %}success{% else %}danger{% endif %}"><code>{{ i|escape }}</code></li>
        {% endfor %}
      </ul>
      {% endfor %}

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="js/validate.js"></script>
    </div>
  </body>
</html>

{# vim: set ft=htmldjango: #}
